@model DINTRANET.Models.directorio

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="contenedor_forms">
    <h3>Estas Seguro que deseas eliminar el Registro?</h3>
    <div>
       
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipo)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.sucursal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sucursal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.horario_apertura)
            </dt>

            <dd>
                @String.Format("{0:t}", Html.DisplayFor(model => model.horario_apertura))
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.horario_cierrre)
            </dt>

            <dd>
                @String.Format("{0:t}", Html.DisplayFor(model => model.horario_cierrre))
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.gerente_zona)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gerente_zona)
            </dd>




        </dl>

        @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        @Html.ActionLink("Regresara a la Lista", "Index")
    </div>
    }
    </div>

</div>