@model IEnumerable<DINTRANET.Models.directorio>

    @{
        ViewBag.Title = "lista";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>lista</h2>

    <div class="container directorioContenedor">

        @foreach (var item in Model.Where(s => s.tipo == "Sucursal"))
        {
            @* SECCION DE UNA SUCURSAL *@
            <div class="row directorioSeccion">               
                <div class="col-md-4">
                    @* seccion del mapa y el título *@
                    @*<img class="imgDirectorio" src="~/assets/moneda.jpg" style="width:30%; height:auto; font-weight:bold;">*@

                    <center><h4 class="directorioSuc">@item.sucursal.ToUpper()</h4></center>
                    @*<iframe class="mapDirectorio" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d931.5448634190262!2d-89.6306329921141!3d20.94530734397074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f56722be651a1e1%3A0xe5d460f15c54bf10!2sDinero%20Inmediato!5e0!3m2!1ses!2smx!4v1585011411854!5m2!1ses!2smx" frameborder="0" style="border:0; " allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>*@
                    @Html.Raw(item.ubicacion)
                                  
                
                </div>

                <div class="col-md-8">
                    @* seccion de la infomacion *@
                    <div class="row">
                        <div class="col-md-6">
                            <br />
                            <br />
                            <p><span style="font-weight:bold;">Horario:</span> @String.Format("{0:00}", item.horario_apertura.Hours):@String.Format("{0:00}", item.horario_apertura.Minutes) - @String.Format("{0:00}", item.horario_cierrre.Hours):@String.Format("{0:00}", item.horario_cierrre.Minutes)  </p>
                            <p><span style="font-weight:bold;">Gerente de Sucursal:</span> @item.gerente_zona.ToUpper()</p>
                            <p><span style="font-weight:bold;">Cel. Gerente:</span> @item.cel_gerente</p>

                            @if (item.telefono_suc != "")
                            {
                                <p><span style="font-weight:bold;">Telefono:</span> @item.telefono_suc 
                                @if (item.ext_suc != "")
                                {
                                    <span> Ext:</span> @item.ext_suc                                
                                }                            

                            </p>
                            }
                        </div>

                        <div class="col-md-6">
                            <br />
                            <br />
                            
                            <p>
                                <span style="font-weight:bold;">1er Encargado:</span>
                                @if (item.encargado1 != "")
                                {
                                    @item.encargado1.ToUpper()
                                }
                                else
                                {
                                    <span>NA</span>
                                }
                            </p>



                            <p>
                            <span style="font-weight:bold;">Cel 1er Encargado:</span> 
                                @if(item.cel_encargado1 != "")
                                {
                                    @item.cel_encargado1
                                }
                                else
                                {
                                    <span>NA</span>
                                }
                                
                            </p>

                            <p>
                                <span style="font-weight:bold;">2do Encargado:</span>
                                @if (item.encargado2 != "")
                                {
                                    @item.encargado2.ToUpper()
                                }
                                else
                                {
                                    <span>NA</span>
                                }
                            </p>



                            <p>
                                <span style="font-weight:bold;">Cel 2do Encargado:</span>
                                @if (item.cel_encargado2 != "")
                                {
                                    @item.cel_encargado2
                                }
                                else
                                {
                                    <span>NA</span>
                                }

                            </p>

                        </div>

                    </div>


                </div>

            </div>
        }
    </div>
